/build
/out
/.vscode
/.vs
/out
test.cpp
/log*
/docs-dev
*.exe
*.out
/imgui.ini
/CMakeSettings.json

# ignore all models first
/resources/models/*

# keep resources/models/bin directory
/resources/models/bin/*.map
/resources/models/bin/*.bin
!/resources/models/bin/
!/resources/models/bin/.gitkeep

# keep sponza-gltf-khronos
!/resources/models/sponza-gltf-khronos
/resources/models/sponza-gltf-khronos/*.tex_bin

# ignore all textures except basic skybox
/resources/textures/*
!/resources/textures/skybox